<div class="ui container">
  <div class="ui grid">
    <div class="ui three wide computer ten wide mobile column">
      <img src="" alt="" class="ui image" id="profImg">
      <form action="" id="formProfImage" enctype="multipart/form-data">
        <label class="fluid ui blue basic button" for='imgUpload'>Change</label>
        <input type="file" class="inputfile" id="imgUpload" name='imgUpload'>
      </form>
      <div class="ui vertical fluid tabular menu">
        <a href="" class="active item" id="mnuBio">Bio</a>
        <a href="" class="item" id="mnuEnroll">Enrollments</a>
        <a href="" class="item" id="mnuClasses">Classes</a>
      </div>
    </div>
    <div class="ui ten wide computer sixteen wide mobile column" id="block">


    </div>
  </div>
</div>
