<style>
  div.ans {
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius : 16px;
  }
</style>
<div id="oneQuestion" onkeypress="return event.keyCode != 13;" class="ui form">
  <div class="field inline">
    <label>{{('0' + question.questionNumber).slice(-2)}}</label>
    <div class="field">
      <div id="qBody">
      </div>
    </div>
  </div>
  <div class="ui grid">
    <div class="eleven wide column">
      <div class="ui grid">
        <div class="row" *ngFor="let n of ansArray">
          <div class="two wide column">
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" id="chkAns{{question.answers[n].id}}" class="" tabindex="-1"
                    [ngModel]="checkedThisAns(question.answers[n].id)"
                    (change)="toggleThisAns(question.answers[n].id)"/>
                <label>{{('0' + question.answers[n].id).slice(-2)}}</label>
              </div>
            </div>
          </div>

          <div class="fourteen wide column">
            <div class="ans" id="ans{{question.answers[n].id}}"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="five wide column">
      <div id="topicField" class="field">
        <label>Topics</label>
        <select id="topics" multiple="" class="ui dropdown" (change)="onTest()">
          <option value="">select Topics Here</option>
          <option *ngFor="let t of topicsArray" data-value="{{t.id}}">{{t['english']}}</option>
        </select>
      </div>
      <div class="field">
        <label>Tags</label>
        <div class="ui fluid multiple search selection dropdown">
          <input id="tags" name="tags" type="hidden" (change)="onTagsChanged()"/>
          <i class="dropdown icon"></i>
          <div class="default text">Select Tags</div>
          <div class="menu">
            <div *ngFor="let t of tagsArray" data-value='t' class="item">{{t}}</div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="canMix" class="hidden"
                 [ngModel]="question.mixOrder"
                  (change)="question.mixOrder = !question.mixOrder"/>
          <label>Mix the answer order.</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ui button" (click)="onSubmit()">Submit Changes</div>
    </div>
  </div>
</div>
