<style>
  .textLeft{  text-align:left  }
  .textRight { text-align:right }
  .textCenter { text-align:center }
  .fontSize { font-size: 20px}
</style>

<div class="ui segment">
  <h1 class="textCenter">
    Paper Name
  </h1>
  <div class="ui grid">
    <div class="row">
      <div class="eight wide column">
        <p class="textRight fontSize">
          Number of questions :
        </p>
      </div>
      <div class="eight wide column">
        <p class="textLeft fontSize">
          #
        </p>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <p class="textRight fontSize">
          Time for whole paper(minutes):
        </p>
      </div>
      <div class="eight wide column">
        <p class="textLeft fontSize">
          233
        </p>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <p class="textRight fontSize">
          You have done this paper before :
        </p>
      </div>
      <div class="eight wide column">
        <p class="textLeft fontSize">
          times
        </p>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column textCenter">
        <div class="raw">
          <div class="ui label">
            <i class="external square icon">23</i>
          </div>
          <div class="ui label">
            <i class="external square icon">
              32
            </i>
          </div>
          <div class="ui label">
            <i class="external square icon">
              32
            </i>
          </div>
        </div>
        <div class="row">
          <div class="eight wide column">
            <p class="textRight fontSize">
              Average marks :
            </p>
          </div>
          <div class="eight wide column">
            <p class="textLeft fontSize">
              #
            </p>
          </div>
        </div>
        <div class="row">
          <div class="sixteen wide column textCenter">
            <button class="ui blue button">
              Take Attempt
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
