<div class="ui menu icon borderless grid" data-color="inverted white">
  <div class="item ui colhidden">
    <div class="ui icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
  </div>
  <div class="right menu colhidden">

    <div class="ui dropdown item labeled icon">
      <i class="bell icon"></i>
      <div class="ui red label mini circular">6</div>
    </div>
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="united kingdom flag"></i>English</a>
        <a class="item"><i class="turkey flag"></i>Turkish</a>
        <a class="item"><i class="spain flag"></i>Spanish</a>
      </div>
    </div>
    <div class="ui dropdown item">
      <img class="ui mini circular image" src="assets/prof-pic/demo-user-picture.png" alt="label-image">
      <div class="menu">
        <a class="item" href="mail.html">Inbox</a>
        <a class="item" href="profile.html">Profile</a>
        <a class="item" href="settings.html">Settings</a>
        <div class="ui divider"></div>
        <a class="item">Need Help?</a>
        <a class="item" href="login.html">Sign Out</a>
      </div>
    </div>
    <a class="item labeled rightsidebar computer only">
      <i class="ion-wrench large icon"></i>
    </a>

  </div>
</div>
<router-outlet></router-outlet>

