<div class="ui menu icon borderless grid" data-color="inverted white">
  <div class="item ui colhidden">
    <div class="ui icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
  </div>

  <a class="item" routerLink="/paper">Papers</a>
  <a class="item" *ngIf="user.acc_type == 'T'">Class Group</a>
  <a class="item" *ngIf="user.acc_type == 'S'" routerLink="/paper/attempt">Attempt History</a>
  <a class="item" *ngIf="user.acc_type == 'T' && user.acc_type == 'D'" routerLink="/paper/create">Create Paper</a>

  <div class="right menu colhidden">

    <div class="ui dropdown item labeled icon" *ngIf="false">
      <i class="bell icon"></i>
      <div class="ui red label mini circular">6</div>
    </div>
    <div class="ui dropdown item">
      {{user.username}} <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" *ngIf="!checkLogin" routerLink="/login">Log in</a>
        <a class="item" *ngIf="!checkLogin" routerLink="/singup">Sign up</a>
        <a class="item" *ngIf="checkLogin" (click)="logOut()">Log out</a>
      </div>
    </div>
    <div class="ui dropdown item">
      <img class="ui mini circular image" src="assets/prof-pic/{{user.profile_picture ? user.profile_picture : 'demo-user-picture.png'}}" alt="label-image">
      <div class="menu">
        <a class="item" *ngIf="checkLogin" routerLink="/{{user.username}}/edit">Settings</a>
      </div>
    </div>
    <a class="item labeled rightsidebar computer only">
      <i class="ion-wrench large icon"></i>
    </a>

  </div>
</div>
<router-outlet></router-outlet>

