
<div class="ui container">
  <div style="margin-top:50px" class="ui container computer only grid"></div>
  <div class="ui grid item">
    <div class="six wide computer ten wide tablet sixteen wide mobile column centered">
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui blue image header">
            <!--img.image(src='assets/images/logo.png')-->
            <div class="content">Reset your password</div>
          </h2>
          <form class="ui large form" *ngIf="resetting == false">
            <div class="ui stacked segment">
              <div class="field">
                <label for="email" style="text-align: left">Enter your email address :</label>
                <input type="email" name="email" placeholder="Email" id="email"/>
              </div>
              <button class="ui blue button" (click)="onSubmit()">Reset</button>
            </div>
          </form>

          <form class="ui large form" *ngIf="resetting">
            <div class="ui stacked segment">
              <div class="field">
                <label for="pss1" style="text-align: left">New Password</label>
                <input type="password" name="password" placeholder="password" id="pss1"/>
              </div>
              <div class="field">
                <label for="pss2" style="text-align: left">Confirm Password</label>
                <input type="password" name="confirm" placeholder="Confirm" id="pss2"/>
              </div>
              <button class="ui blue button" (click)="onUpdate()">Update Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
